
<!-- <table ng-table="tableParams" class="table" show-filter="true">
    <th> ID </th> <th> Name </th> <th> Price </th> <th> Created At </th> <th> Updated At </th> <th> Seller Name </th> <th> <button class="btn btn-hero-success"> <i class="fas fa-plus"></i></button></th>
   
    <tr *ngFor= "let product of products">

        <td title="'ID'" filter="{ ID: 'int'}" sortable="'ID'">
            {{product.ID}}  </td>
        <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
            {{product.Name}}</td>
        <td title="'Price'" filter="{ Price: 'currency'}" sortable="'age'">
            {{product.Price}} </td>
            <td title="'CreatedAt'" filter="{ CreatedAt: 'date'}" sortable="'CreatedAt'">
            {{product.CreatedAt}} </td>
          <td title="'UpdatedAt'" filter="{ UpdatedAt: 'date'}" sortable="'UpdatedAt'">
            {{product.UpdatedAt}} </td>
        <td title="'SellerName'" filter="{ SellerName: 'text'}" sortable="'SellerName'">
            {{product.SellerName}} </td>

    </tr>


</table> -->
